
          <!-- SHOP SIDEBAR-->
          <div class="col-lg-10 order-2 order-lg-1">
            <h5 class="text-uppercase mb-4">Categories</h5>
            <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">Fashion &amp; Acc</strong></div>
            <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
              <li class="mb-2"><a class="reset-anchor" href="#">Women's T-Shirts</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Men's T-Shirts</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Dresses</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Novelty socks</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Women's sunglasses</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Men's sunglasses</a></li>
            </ul>
            <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">Health &amp; Beauty</strong></div>
            <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
              <li class="mb-2"><a class="reset-anchor" href="#">Shavers</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">bags</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Cosmetic</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Nail Art</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Skin Masks &amp; Peels</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Korean cosmetics</a></li>
            </ul>
            <div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">Electronics</strong></div>
            <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal mb-5">
              <li class="mb-2"><a class="reset-anchor" href="#">Electronics</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">USB Flash drives</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Headphones</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Portable speakers</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Cell Phone bluetooth headsets</a></li>
              <li class="mb-2"><a class="reset-anchor" href="#">Keyboards</a></li>
            </ul>
       
          </div>
          <!--Sidebar End-->
          <!-- SHOP LISTING-->
          
          <!--shop list end-->
     