
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login Form</h3>
            <form #loginform="ngForm" (ngSubmit)="login()" autocomplete="off">
                <div class="form-group">
                    <input name="email" [(ngModel)]="model.email" type="text" class="form-control" placeholder="Your Email" value="" />
                </div>
                <div class="form-group">
                    <input name="password" [(ngModel)]="model.password" type="password" class="form-control" placeholder="Your Password" value="" />
                </div>
                <div class="form-group">
                    <button type="submit"  class="btnSubmit"> Login </button> 
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forget Password?</a>                   
                </div>
                <div class="form-group">
                    <a class="ForgetPwd" routerLink='/register'>Sign Up</a>
                </div>
            </form>
        </div>
      
    </div>
</div>