
<div  class="container login-container" >
    <h3>Add Category</h3>
    <form #addCategoryForm="ngForm" id="addCategoryForm" (ngSubmit)="editCategory()" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="categoryName">Category Name</label>
        <input name="categoryName" type="text" [(ngModel)]="categories.categoryName" class="form-control" id="categoryName"  placeholder="Category Name">
      </div>     
      <div class="form-group col-md-6">
        <label for="orderCategory">Order Category</label>
        <input name="orderCategory" type="number" [(ngModel)]="categories.orderCategory" class="form-control" id="orderCategory"  placeholder="Order Category">
      </div>    
    </div>   
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update Category" />
    </div>
  </form>
  </div>