<header class="header bg-white">
    <div class="container px-0 px-lg-3">
      <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" routerLink='/'><span class="font-weight-bold text-uppercase text-dark" style="font-size:30px">TrendBurada</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <!-- Link--><a class="nav-link" routerLink='/' routerLinkActive='active'>Home</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" routerLink='/shop' routerLinkActive='active'>Shop</a>
            </li>
            <div *ngIf="(authService.currentUser$ | async) as user">
            <li  class ="nav-item dropdown"*ngIf="user.isAdmin == 1"  ><a class="nav-link dropdown-toggle"  id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Panel</a>
              <div   class="dropdown-menu mt-3"  aria-labelledby="pagesDropdown" >
                <a class="dropdown-item border-0 transition-link" routerLink='/Admin/Product'>Product</a>
                <a class="dropdown-item border-0 transition-link" href="/Admin/Category">Category</a>
                <a class="dropdown-item border-0 transition-link" href="/Admin/Order">Orders</a>
                <a class="dropdown-item border-0 transition-link" href="/Admin/User">Users</a>       </div>         
            </li>
          </div>
          </ul>
          <ul class="navbar-nav ml-auto">               
            <li class="nav-item"><a class="nav-link" href="/shopping-cart"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-dark"></small></a></li>
            <li class="nav-item"><a class="nav-link" href="/wishlist"> <i class="far fa-heart mr-1"></i><small class="text-gray"></small></a></li>
          </ul>
          <div class="dropdown" *ngIf="(authService.currentUser$ | async) === null"  dropdown>
            <a  class="dropdown-toggle text-dark" dropdownToggle>Login</a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
              <a  class="dropdown-item" routerLink='login'>Login</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" routerLink='register'>Register</a>
            </div>
          </div>
          
          <div class="dropdown" *ngIf="(authService.currentUser$ | async) as user"  dropdown>
            <a  class="dropdown-toggle text-dark" dropdownToggle> Welcome {{user.firstname}}</a>
            <div class="dropdown-menu mt-2" *dropdownMenu>
              <a  class="dropdown-item" routerLink='/UserProfile/{{user.userId}}'>Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" routerLink='/UserOrder/{{user.userId}}'>My Orders</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>