
<div *ngIf="member" class="container login-container" >
    <h3>User Profile</h3>
    <div class="alert alert-info" *ngIf="editForm.dirty"><strong> Information:</strong> You have made changes. Any unsaved changes will be lost..</div>
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email address</label>
        <input name="email" type="email" [(ngModel)]="member.email" class="form-control" id="email" aria-describedby="emailHelp" disabled>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">New Password</label>
            <input name="password" type="password" [(ngModel)]="member.password" class="form-control" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
          </div> 
    </div>
   
   
    <button [disabled]="!editForm.dirty" type="submit" class="btn btn-success">Save Changes</button>
  </form>
  </div>